
<h2 class="title">
    Se&ntilde;ales del Caribe</h2>
<p>
    Información principal acerca de nosotros.</p>

<table>
    <thead>
        SIGUENOS
    </thead>
    <tr>
        <td>
            <a href="#" class="normaltip" title="Facebook">
                <img src="@Url.Content("~/Content/Images/icon1.jpg")" alt=""></a>
        </td>
        <td>
            <a href="#" class="normaltip" title="Twitter">
                <img src="@Url.Content("~/Content/Images/icon2.jpg")" alt=""></a>
        </td>
        <td>
            <a href="#" class="normaltip" title="Linkedin">
                <img src="@Url.Content("~/Content/Images/icon3.jpg")" alt=""></a>
        </td>
    </tr>
</table>
