<div id="column1">
    <h2>Catálogo de Señales Viales</h2>
    <ul class="list-style1">
        <li class="first"><a href="#">» Normativa</a></li>
        <li><a href="#">» Reglamentarias</a></li>
        <li><a href="#">» Preventivas</a></li>
        <li><a href="#">» Informativas</a></li>
        <li><a href="#">» Transitorias</a></li>
        <li><a href="#">» Educativas</a> </li>
    </ul>
</div>
<div id="column2">
    <h2>Catálogo de Señales de Seguridad</h2>
    <ul class="list-style1">
        <li class="first"><a href="#">» Prohibición</a></li>
        <li><a href="#">» Advertencia de peligro</a></li>
        <li><a href="#">» Uso obligatorias</a></li>
    </ul>
</div>
